<head>
    <title>flow-chart</title>
    <meta charset="UTF-8" />
    <link href="../jquery-ui/jquery-ui.css" rel="stylesheet" charset="utf-8" />
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />

    <script src="../gojs/go.js"></script>
    <style>
        .tool-bar{
            float: left;
            margin-left: 15px;
            margin-top: 15px;
            cursor: pointer;
            font-size: 20px;
            color: #01a9c9;
        }
        .flow-top{
            width: 100%;
            height:50px;
            border-bottom: 1px solid #f5e5e5;
            background-color: rgb(254, 255, 250);
        }
    </style>

    <script src="../jquery/jquery-2.2.3.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../jquery-ui/jquery-ui.js"></script>
    <script src="../chart/Chart.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/flow-chart.js"></script>
    <script src="../js/flow-chart-logic.js"></script>
    <script src="../js/component.js"></script>
    <script src="../js/java-api.js"></script>

</head>


