<div th:fragment="flow_tool_top">
<div class="pull-left">
    <span id="run-flow-chart" data-toggle="tooltip" data-placement="bottom" title="run full flow"  class="glyphicon glyphicon-play-circle tool-bar"></span>
    <span id="step-run-flow-chart" data-toggle="tooltip" data-placement="bottom" title="step run flow" class="glyphicon glyphicon-download tool-bar"></span>
    <span id="repeat-flow-chart" data-toggle="tooltip" data-placement="bottom" title="repeat flow" class="glyphicon glyphicon-repeat tool-bar"></span>
    <span id="undo-flow-chart" data-toggle="tooltip" data-placement="bottom" title="ctrl+z"  class="glyphicon glyphicon-arrow-left tool-bar"></span>
    <span id="redo-flow-chart" data-toggle="tooltip" data-placement="bottom" title="ctrl+y"  class="glyphicon glyphicon-arrow-right tool-bar"></span>
    <span id="save-flow-chart" data-toggle="tooltip" data-placement="bottom" title="save flow"  class="glyphicon glyphicon-floppy-save tool-bar"></span>
    <span id="delete-flow-chart" data-toggle="tooltip" data-placement="bottom" title="delete flow"  class="glyphicon glyphicon-remove-sign tool-bar"></span>
</div>
<div class="pull-left">
     <a data-href="" data-toggle="modal" data-target="#flow-chart-link-modal" id="flow-detail-link"></a>
</div>
<div class="pull-right" style="padding-top:15px;padding-right:15px;">
    <a href="javascript:void(0)">
        Docs
    </a>
</div>
</div>