<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/flow-header" />
<body>
<div class="container-fluid" style="padding-left: 0px;padding-right: 0px">
    <div style="float: left;width: 100px">
      <div class="palette palette-title glyphicon glyphicon glyphicon-menu-down" data-target="paletteDiv">BASE</div>
      <div class="palette palette-content" id="paletteDiv"></div>
      <div class="palette palette-title glyphicon glyphicon glyphicon-menu-down" data-target="paletteComponent">API</div>
      <div id="paletteComponent" class="palette palette-content" style="background-color: #d9f4fa;"></div>
      <div class="palette palette-title glyphicon glyphicon glyphicon-menu-down" data-target="paletteUserCustom">CUSTOM</div>
      <div id="paletteUserCustom" class="palette palette-content" style="background-color: #d9f4fa;"></div>
    </div>

    <div style="padding-left:100px;width:100%">
        <div class="flow-top" th:include="common/flow-top ::  flow_tool_top"></div>
      <div id="diagramDiv" style="min-height: 500px;max-height: 1000px"></div>
        <pre id="flow-chart-result" class="drag"></pre>
    </div>
</div>

<div th:include="common/flow-modal ::  flow_modal"></div>

<script th:inline="JavaScript">
    /*<![CDATA[*/
    var tmp = [[${business}]];
    window.flowData = {"nodeDataArray": [],"linkDataArray":[]};
    if( tmp && isJson(tmp.res) ){
        var jsonObj = JSON.parse( tmp.res );
        window.flowData = {"nodeDataArray": jsonObj.nodeDataArray,"linkDataArray":jsonObj.linkDataArray};
    }

    $("#delete-flow-chart").remove();

    var height = $(window).height() - 120;
    var style_height = "height:" + height + "px";
    $("#diagramDiv").attr("style", style_height);

    window.customComponents = [[${allFlow}]];
    /*]]>*/
</script>

</body>
</html>
