<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RedisCenter</title>
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />

    <style>
        .container-title{
            height: 95px;
            margin-bottom: 20px;
            background-color: #fafbfc;
            border-bottom: 1px solid #e1e4e8;
        }
        .post-container-div{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="clearfix nav-height"></div>
<div class="container-fluid container-title">
    <div class="container-fluid container-title-content">
        <div class="container-fluid">
            <h1>RedisCenter</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12">
                    <h1>hello world</h1>
                </div><!-- /.col-lg-12 -->
            </div>
        </div><!-- .panel -->
    </div><!-- .row -->
</div><!-- .container-fluid -->


</body>
<script src="../jquery/jquery-2.2.3.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/cookie.js"></script>
<script src="../js/common.js"></script>
<script src="../js/welcome.js"></script>
</html>